#set ( $baseComponentName = $entity.name + "Component" )
#set ( $listComponentName = $entity.name + "ListComponent" )
#set ( $formComponentName = $entity.name + "FormComponent" )
#set ( $baseServiceName = $entity.name + "Service" )
#set ( $LCentityNameService = $entity.name + ".service" )
#set ( $LCentityNameModel = $entity.name + ".model" )
#set ( $LCentityNameComp = $entity.name + ".component" )
#set ( $LCentityNameList = $entity.name + "-list.component" )
#set ( $LCentityNameForm = $entity.name + "-form.component" )